<h1>Proyectos realizados</h1>


<div class="card" style="width: 18rem;">
<%= image_tag("rails01.jpg") %>
  <div class="card-body">
    <h5 class="card-title">Proyecto Tweeter</h5>
    <p class="card-text">Inicio del proyecto Tweeter - Inforcap</p>
    <a href="https://github.com/gcalquin/PruebaM5" class="btn btn-primary">Ir al proyecto</a>
  </div>
</div>

<br><br>

<div class="card" style="width: 18rem;">
<%= image_tag("rails02.jpg") %>
  <div class="card-body">
    <h5 class="card-title"Proyecto 3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>

<br>

<div class="card" style="width: 18rem;">
<%= image_tag("rails03.jpg") %>
  <div class="card-body">
    <h5 class="card-title">Proyecto 3</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
